*  {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

:root{
    --gameWidth: 40vw;
}

div{
  
    display: flex;

}

.gamebox{

    width: var(--gameWidth);
    height: var(--gameWidth);
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    flex-direction: column;

}

.row{

    flex-direction: row;
    flex-grow: 1;
}

.cell{
    border: solid 3px black;
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.cell>p{
    position: absolute;
    font-size: calc(var(--gameWidth)/3);
}

.menu{
    flex-direction: column;
    margin-top: calc((100vh - var(--gameWidth))/2);
    margin-left: calc((100vw - var(--gameWidth))/18);
    width: calc((100vw - var(--gameWidth))/4) ;
}

input{
    height: 3vh;
    width: 15vw;
    padding-left: 1vh;
    border-radius: 1vw;
    margin-bottom: 2vh;
}

.menu > h2 {
    margin-top: 4vh;
}